extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
    
        
        h1 Dominic Bishop

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Building state-of-the-art, easy to use, user-friendly websites and applications is truly a passion of mine and I am confident I would be an excellent addition to your organization. 
            | In addition to my knowledge base, I actively seek out new technologies and stay up-to-date on industry trends and advancements.
            | This has allowed me to stay ahead of the curve and will allow me to deliver exceptional work.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li JavaScript
          li HTML
          li CSS
          li Object Oriented Javascript
          li Node.js
          li Express
        h6 Contact Info

        
        ul
          li 555-555-1234
          li email@email.com

        
        a.button.expanded(href='https://uk.linkedin.com/') LinkedIn
        a.button.expanded(href='https://github.com/DominicBishop') GitHub
        a.button.expanded(href='https://twitter.com/explore') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
