extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      
      h1 Deveopler portfolio

      
      p.lead.text-light
        | A showcase, that displays my work as a programmer.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-10

      each project in projects
        .cell
          a(href= `/project/${project.id}`)
            img.thumbnail(src= `${project.image_urls[0]}`)
            h5= `${project.project_name}`

      
      
      
      
